
nav a {
    margin-right: 20px;
  }
  
  .product_image {
    width: 130px;
    max-height: 180px;
    transition: all 0.3s ease; 
  }
  .product_image:hover {
    transform: scale(1.1);
  }

  .products_container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
  }

  .product_card {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgrey;
    width: 200px;
    height: auto;
    padding: 20px;
    border: 10px;
    margin: 20px 20px;
  }
